body{
    margin: 0%; padding: 0%; 
    margin-left: 0%;
    margin-top: 0%;
}
html{
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;

}
.menu {
margin-top: -300px;
position: relative;
bottom: 220px;
margin-left: 50px;
font-weight: 900;
font-size: 25px;
}
#log{
 margin-right: 150px;
}
a{
    color: red; 
    margin-left: 20px;
    text-decoration: none;
    
}
a:hover {
    color: red;
    border: 1px white solid;
    border-radius: 5px;
    background-color: white;
}
#b1{
    display: flex;
    margin-left: 120px;
    color: white;
    margin-top: -15px;
    line-height: 15px;
    padding-top: 15px;
}
#b3{
    margin-left: 250px;
    line-height: 35px;
}
#b4{
    margin-left: 120px;
    margin-top: -15px;

}
#b6{
    font-size: 20px;
    font-weight: 700;
}
#b5{
    text-align: center;
    font-size: 35px;
    margin-top: 4px;
    color: white;
}
#section1{
    background-color: black;
    border: 1px black;
   margin-top: 110px;
}
#tr{
    width:350px;
    border: 2px rgb(241, 240, 240) solid;
    height: 1px;
    margin-top: 25px;
}
#blo{
    display: flex;
    margin-left: 80px;
    margin-top: -10px;
}
#tr1{
    width:350px;
    border: 2px rgb(241, 240, 240) solid;
    height: 1px;
    margin-left: 70px;
    margin-top: 30px;
}
#in{
    font-size: 35px;
    font-weight: 900;
    color: rgb(204, 210, 215);
    padding-left: 60px;
    margin-top: -5px;

}

.im{
    padding-left: 50px;
}
#af1{
    position: relative;
    text-align: center;
    color: white;
    margin-top: -100px;
}
#ft{
    margin-right: 900px;
}
#ft1{
    margin-left: 900px;
}
#gr{
    width: 100px;
    height: 1px;
    color: rgb(238, 230, 230);
    border: 2px rgb(235, 230, 230) solid;
    position: relative;
   margin-left: 450px;
}
#gr1{
    width: 100px;
    height: 1px;
    color: rgb(238, 235, 235);
    border: 2px rgb(231, 228, 228) solid;
    position: relative;
    margin-left: 650px;
}
#gr2{
    width: 100px;
    height: 1px;
    color: rgb(248, 238, 238);
    border: 2px rgb(252, 247, 247) solid;
    position: relative;
    margin-left: 850px;
}
#pa{
    border: 1px blue solid;
    font-size: 65px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 700px;
    height: 140px;
    margin-top: 120px;
    padding-top: 20px;
    padding-left: 70px;
    margin-left: 350px;
    color: white;
    background-color: blue;
}
#pp{
    text-align: justify;
    width: 650px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}
#pp{
    margin-left: 200px;
}

#pp1{
    margin-left: 60px;
    padding-top: 30px;
}

#pp2{
    display: flex;
    padding-top: 25px;
}
#clic{
    border: 1px red solid;
}
#ab{
    font-size: 50px;
    font-weight: 600;
    border: 1px blue solid;
    background-color: blue;
    color: white;
    width: 600px;
    height: 120px;
    margin-left: 400px;
    text-align: center;
    padding-top: 15px;
}
#img1{
    border-top-right-radius: 45px;
}
#section2{
    display: flex;
    margin-left: 80px;
   
}
#hh{
    margin-left: 80px;
    line-height: 60px;
}
#se{
    margin-left: 750px;
    border-bottom-left-radius: 100px;
    width: 75px;
    height: 50px;
}
#vv{
    width: 1348px;
    height: 550px;
}
#de{
 font-size: 40px;
 font-weight: 700;
 margin-top: 150px;
}
#de1{
    font-size: 25px;
    font-weight: 600;
    margin-right: 300px;
    padding-top:  150px;
    margin-top: -140px;
   
}
#de2{
    font-size: 25px;
    font-weight: 700;
    border: 1px rgb(40, 40, 167) solid;
    width: 400px;
    height: 50px;
    text-align: center;
    background-color: rgb(40, 40, 167);
    margin-left: 140px;
    
}
#de3{
    font-size: 25px;
    font-weight: 800;
    border: 1px white solid;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: white;
    margin-left: 350px;
    margin-top: -80px;
}
#section3{
    border: 1px rgb(214, 218, 221) solid;
    width: 650px;
    height: 400px;
    text-align: center;
    margin-top: -470px;
    background-color: rgb(214, 218, 221);
    position: relative;
    margin-left: 600px;
}  
/* css contacte*/
#ww{
margin-top: 150px; 
margin-left: 100px;

}
#ww1{
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  margin-left: 250px;
  margin-top: -70px;
}
#ww2{
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;  
    margin-left: 300px;
    color: red;
    margin-top: 25px;
}
#ww3{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}
#co{
    margin-left: 150px;
}
#con{
    display: flex;
}
#cont{
   margin-left: 200px;

}
#co2{
    margin-top: 30px;
    margin-left: 200px;
    background-color: blue;
    width: 150px;
    height: 40px;
}
#con1{
    width: 250px;
    background-color: rgb(248, 245, 245);
}
#con1:hover{
    background: linear-gradient(180deg,rgb(248, 245, 245), rgb(248, 245, 245));
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: black;
}
#con2:hover{
    background: linear-gradient(180deg,rgb(248, 245, 245), rgb(248, 245, 245));
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: black;
}

#con2{
    width: 250px;
    height: 100px;
    background-color: rgb(247, 242, 242);
}

/*css d'accueil */
.a1{
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 25px;
    color: white;
}
.aa{
    background-color: blue;
    position: relative;
    top: 100px;
    width: 500px;
    height: 100px;
    margin-left: 500px;
 }
 .a2{
    border-radius: 200px;
    position: relative;
    left: 200px;
    top: 175px;
 }
 .a3{
    position: relative;
    left: 275px;
    bottom: 25px;
    color: white;
 }
 .a4{
    font-size: 25px;
    position: relative;
    left: 550px;
    bottom: 255px;
 }
 .aa4{
    position: relative;
    left: 600px;
    bottom: 250px;
    font-weight: 800;
 }
 .a5{
    width: 600px;
    position: relative;
    left: 550px;
    bottom: 225px;
    font-weight: 800;
 }
 .bb{
    position: relative;
    background-color: grey;
   
 }
 .cc{
   height: 1000px;
 }
 .b2{
    font-size: 50px;
    position: relative;
    left: 50px;
    top: 10px;
    color: white;
 }
 .b1{
    background-color: blue;
    position: relative;
    top: 50px;
    width: 450px;
    height: 75px;
    margin-left: 150px;
 }
.b3{
    position: relative;
    left: 750px;
    top: -25px;
}
.b4{
   position: relative;
   left: 150px;
   top: 250px;
   width: 600px;
}
.aaa{
   height: 635px;
}
.c1{
   background-color: blue;
   position: relative;
   top: 100px;
   left: 300px;
   width: 450px;
   height: 75px;
   margin-left: 150px;
}
.c2{
   font-size: 50px;
   color: white;
}
.c3{
   padding-top: 250px;
   padding-left: 0px;
}
.c4{
   position: relative;
   bottom: 226px;
   left: 100px;
}
.c5{
   position: relative;
   left: 1020px;
   bottom: 435px;
}

/*css de solution */

#row1 img{
    position: relative;
    left: 30px;
}
#row1{
    background-color: red;
}

*
#jj {
    width:  200px;
    height:  150px;
}

.sli-show {
    width: 210px;
    height: 160px;
    margin: 300px 600px;
    position: relative;
    perspective: 1000px;
}

.sli-show .slid-show{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotation 20s infinite linear;
}

.sli-show .slid-show span {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid #000;
    overflow: hidden;
}


.slid-show span:nth-child(1) {transform:  rotatex(0deg)   translateZ(288px);}
.slid-show span:nth-child(2) {transform:  rotatex(40deg)   translateZ(288px);}
.slid-show span:nth-child(3) {transform:  rotatex(80deg)   translateZ(288px);}
.slid-show span:nth-child(4) {transform:  rotatex(120deg)   translateZ(288px);}
.slid-show span:nth-child(5) {transform:  rotatex(160deg)   translateZ(288px);}
.slid-show span:nth-child(6) {transform:  rotatex(200deg)   translateZ(288px);}
.slid-show span:nth-child(7) {transform:  rotatex(240deg)   translateZ(288px);}
.slid-show span:nth-child(8) {transform:  rotatex(280deg)   translateZ(288px);}
.slid-show span:nth-child(9) {transform:  rotatex(320deg)   translateZ(288px);}

.slid-show #jj {
    cursor: pointer;
	transition: all .5s ease;
}


.slid-show #jj:hover{
    transform: scale(1.2,1.2);
    animation-play-state: paused;
}
.slid-show:hover{
    animation-play-state: paused;
}

@keyframes rotation{
	from{
		transform: rotatex(0deg);
	}
	to{
		transform: rotatex(360deg);
	}
}


/*--------------------------------------------------------------------------------*/

.sli {
    width: 210px;
    height: 160px;
    margin: 100px 600px;
    position: relative;
    perspective: 1000px;
}

.sli .slid{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotation-one 20s infinite linear;
}

.sli .slid span {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid #000;
    overflow: hidden;
}


.slid span:nth-child(1) {transform:  rotateY(0deg)   translateZ(288px);}
.slid span:nth-child(2) {transform:  rotateY(40deg)   translateZ(288px);}
.slid span:nth-child(3) {transform:  rotateY(80deg)   translateZ(288px);}
.slid span:nth-child(4) {transform:  rotateY(120deg)   translateZ(288px);}
.slid span:nth-child(5) {transform:  rotateY(160deg)   translateZ(288px);}
.slid span:nth-child(6) {transform:  rotateY(200deg)   translateZ(288px);}
.slid span:nth-child(7) {transform:  rotateY(240deg)   translateZ(288px);}
.slid span:nth-child(8) {transform:  rotateY(280deg)   translateZ(288px);}
.slid span:nth-child(9) {transform:  rotateY(320deg)   translateZ(288px);}

.slid #jj {
    cursor: pointer;
	transition: all .5s ease;
}


.slid #jj:hover{
    transform: scale(1.2,1.2);
    animation-play-state: paused;
}
.slid:hover{
    animation-play-state: paused;
}

@keyframes rotation-one{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}
#en{
    margin-top: 150px;
    font-size: 80px;
    margin-left: 100px;
    font-weight: 700;
    color: red;
    
    width: 550px;
    height: 450px;
    padding-top: 150px;
}
#en1{
    font-size: 35px;
    font-weight: 600;
    margin-left: 500px;
    border: 1px blue solid;
    width: 450px;
    height: 150px;
    text-align: center;
    padding-top: 50px;
    background-color: blue;
    color: white;
}
#en2{
    font-size: 25px;
    font-weight: 700;
    text-align: justify;
    width: 450px;
    margin-left: 650px;
    margin-top: 50px;
    line-height: 45px;
}
#en4{
    font-size: 20px;
    text-align: justify;
    width: 650px;
    margin-left: 650px;
    margin-top: 70px;
}
#en5{
    font-size: 40px;
    color: blue;
    font-weight: 800;
    text-align: center;
    text-decoration-line: underline;
}
#em{
    margin-top: -400px;
}
#ag{
    width: 450px;
    height: 350px;
    margin-left: 750px;
    margin-top: -450px;
}
#ag1{
    background-color: rgb(59, 165, 165);
}
#ag2{
    width: 350px;
    height: 250px;
    margin-top: -350px;
    margin-left: 100px;
    
}
/*css de service */
.j1{
    padding-top: 90px;
    background-color: rgb(224, 217, 217);
    
    padding-bottom: 100px;
}
.f1{
    color: red;
    margin-left: 330px;
}
.z1{
    display: flex;
    margin-top: 100px;
    margin-left: 190px;
}
.n1{
    margin-top: 25px;
}
.Q1{
    margin-left: 420px;
}
.m0{
    padding-bottom: 100px;
}
.m1{
    text-align: center;
    font-size: 80px;
    margin-top: 50px;
}
.m2{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}
.u1{ 
    display: flex;
    margin-left: 40px;
    margin-top: 100px;
   
   
}
.u2{
   box-shadow: 100px;
   border: 2px solid blue;
   height: 200px;
   width: 300px;
   text-align: center;
   margin-left: 20px;
   padding-top: 70px;
   color: blue;
}
.u3{
   box-shadow: 100px;
   border: 2px solid blue;
   height: 200px;
   width: 300px;
   text-align: center;
   margin-left: 20px;
   padding-top: 70px;
   color: blue;
}
.u4{
    box-shadow: 100px;
    border: 2px solid blue;
    height: 200px;
    width: 300px;
    text-align: center;
    margin-left: 20px;
    padding-top: 70px;
    color: blue;
    
}


.u5{
    box-shadow: 100px;
    border: 2px solid blue;
    height: 200px;
    width: 300px;
    text-align: center;
    margin-left: 20px;
    padding-top: 70px;
    color: blue;
    
}
.u5:hover{
    background: linear-gradient(180deg,#448AFF, #002a40);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
}
.u2:hover{
    background: linear-gradient(180deg,#448AFF, #002a40);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
}
.u3:hover{
    background: linear-gradient(180deg,#448AFF, #002a40);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
}
.u4:hover{
    background: linear-gradient(180deg,#448AFF, #002a40);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
}


 /* css citaton */

 h1 {
    font-size: 60px;
    text-align: center;
  }
  
  .content-slider {
    width: 100%;
    height: 360px;
  }
  
  .slider {
    height: 320px;
    width: 680px;
    margin: 40px auto 0;
    overflow: visible;
    position: relative;
  }
  
  .mask {
    overflow: hidden;
    height: 320px;
  }
  
  .slider ul {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .slider li {
    width: 680px;
    height: 320px;
    position: absolute;
    top: -325px;
    list-style: none;
  }
  
  .slider .quote {
    font-size: 40px;
    font-style: italic;
  }
  
  .slider .source {
    font-size: 20px;
    text-align: right;
  }
  
  .slider li.anim1 {
    animation: cycle 15s linear infinite;
  }
  
  .slider li.anim2 {
    animation: cycle2 15s linear infinite;
  }
  
  .slider li.anim3 {
    animation: cycle3 15s linear infinite;
  }
  
  .slider li.anim4 {
    animation: cycle4 15s linear infinite;
  }
  
  .slider li.anim5 {
    animation: cycle5 15s linear infinite;
  }
  
  .slider:hover li {
    animation-play-state: paused;
  }
  
  @keyframes cycle {
    0% {
      top: 0px;
    }
    4% {
      top: 0px;
    }
    16% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    20% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    21% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    50% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    92% {
      top: -325px;
      opacity: 0;
      z-index: 0;
    }
    96% {
      top: -325px;
      opacity: 0;
    }
    100% {
      top: 0px;
      opacity: 1;
    }
  }
  
  @keyframes cycle2 {
    0% {
      top: -325px;
      opacity: 0;
    }
    16% {
      top: -325px;
      opacity: 0;
    }
    20% {
      top: 0px;
      opacity: 1;
    }
    24% {
      top: 0px;
      opacity: 1;
    }
    36% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    40% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    41% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle3 {
    0% {
      top: -325px;
      opacity: 0;
    }
    36% {
      top: -325px;
      opacity: 0;
    }
    40% {
      top: 0px;
      opacity: 1;
    }
    44% {
      top: 0px;
      opacity: 1;
    }
    56% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    60% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    61% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle4 {
    0% {
      top: -325px;
      opacity: 0;
    }
    56% {
      top: -325px;
      opacity: 0;
    }
    60% {
      top: 0px;
      opacity: 1;
    }
    64% {
      top: 0px;
      opacity: 1;
    }
    76% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    80% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    81% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle5 {
    0% {
      top: -325px;
      opacity: 0;
    }
    76% {
      top: -325px;
      opacity: 0;
    }
    80% {
      top: 0px;
      opacity: 1;
    }
    84% {
      top: 0px;
      opacity: 1;
    }
    96% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    100% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
  }

  /*cub 3D*/

  
  @media (max-width: 1000px) {
    #text h1 {
      font-size: 40vw;
    }
  }
  #min{
    width: 25px;
    height: 10px;
    padding-left: 450px;
   }
  